{% extends 'admin_panel/admin_base.html' %}
{% load static %}
{% block admin_content %}
<h3 class="text-black">Admin Dashboard</h3>
<hr>

<div class="row d-flex justify-content-around">
    <div class="col-10 col-md-3 stats-container orders p-3 my-1">
        <div class="row">
            <div class="col-8">
                <p class="fw-bold fs-3">{{ orders.count }}</p>
                <p class="fw-bold fs-3">Orders</p>
            </div>
            <div class="col-4 my-auto"><i class="fa-solid fa-basket-shopping fa-2xl"></i></div>
        </div>
    </div>
    <div class="col-10 col-md-3 stats-container products p-3 my-1">
        <div class="row">
            <div class="col-8">
                <p class="fw-bold fs-3">{{ total_product_count }}</p>
                <p class="fw-bold fs-3">Products</p>
            </div>
            <div class="col-4 my-auto"><i class="fa-solid fa-book fa-2xl"></i></div>
        </div>
    </div>
    <div class="col-10 col-md-3 stats-container users p-3 my-1">
        <div class="row">
            <div class="col-8">
                {% if total %}
                <p class="fw-bold fs-3">€{{ total|floatformat:2 }}</p>
                {% else %}
                <p class="fw-bold fs-3">€0</p>
                {% endif %}
                <p class="fw-bold fs-3">Revenue</p>
            </div>
            <div class="col-4 my-auto"><i class="fa-solid fa-hand-holding-dollar fa-2xl"></i>
            </div>
        </div>

    </div>
    <div class="row">
        <div class="col-12">
            <div class="row mt-4">
                <div class="col-12 col-md-6">
                    <p class="fw-bold fs-4 justify-content-md-start">Products: {{ products.count }}</p>
                </div>
                <div class="col-12 col-md-6  my-auto order-md-last d-flex justify-content-between justify-content-md-end">

                    <a href="{% url 'admin-add-product' %}" class="btn btn-orange mx-md-auto">Add Products</a>
                    <div class="sort-select-wrapper">
                        <select id="sort-selector" class="form-select">
                            <option value="reset" {% if current_sorting == 'None_None' %}selected{% endif %}>Refine by...</option>
                            <option value="products" {% if current_sorting == 'recent' %}selected{% endif %}>All Products</option>
                            <option value="in_stock" {% if current_sorting == 'in_stock' %}selected{% endif %}> In Stock
                            </option>
                            <option value="low_stock" {% if current_sorting == 'low_stock' %}selected{% endif %}>Low Stock
                            </option>
                            <option value="out_of_stock" {% if current_sorting == 'out_of_stock' %}selected{% endif %}>Out Of Stock</option>
                        </select>
                    </div>
                </div>
            </div>
            {% if products %}
            <div class="order-history table-responsive mt-3">
                <table class="table table-borderless table-striped table-hover">
                    <thead>
                        <tr class="order-table-row">
                            <th>Title</th>
                            <th>On Sale</th>
                            <th>Price</th>
                            <th>Reviews</th>
                            <th>Stock</th>
                            <th>Actions</th>

                        </tr>
                    </thead>
                    <tbody>
                        {% for product in products %}
                        <tr>
                            <td>
                                <a href="{% url 'product' product.id %}" title="{{ product.title }}">
                                    {{ product.title }}
                                </a>
                            </td>
                            <td class="text-center">
                                {% if product.on_sale %}
                                Yes
                                {% else %}
                                No
                                {% endif %}
                            </td>
                            <td>€{{ product.product_price|floatformat:'2' }}</td>
                            <td class="text-center">{{ product.reviews.count }}</td>
                            {% if product.stock_amount == 0 %}
                            <td id="status-cell-nostock">
                                {{ product.stock_amount }}
                            </td>
                            {% elif product.stock_amount <= 5 %}
                            <td id="status-cell-warning">
                                {{ product.stock_amount }}
                            </td>
                            {% else %}
                            <td id="status-cell-instock">
                                {{ product.stock_amount }}
                            </td>
                            {% endif %}
                            <td class="text-center">
                                <a href="{% url 'admin-edit-product' product.id %}" class="text-black" title="Edit"><i
                                        class="fa-solid fa-pen"></i></a>
                                <a href="{% url 'admin-delete-product' product.id %}" class="text-danger" title="Delete"><i
                                        class="fa-solid fa-trash"></i></a>
                            </td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
            {% else %}
            <div class="d-grid gap-2">
                <p class="text-center">No Products to display</p>

            </div>
            {% endif %}
        </div>
    </div>
</div>
{% endblock admin_content %}

{% block extra_js %}
{{ block.super }}
<script src="{% static 'js/admin_products.js' %}"></script>
{% endblock%}