{% extends 'admin_panel/admin_base.html' %}
{% block admin_content %}
<h3 class="text-black">Admin Dashboard</h3>
<hr>

<div class="row d-flex justify-content-around">
    <div class="col-10 col-md-3 stats-container orders p-3 my-1">
        <div class="row">
            <div class="col-8">
                <p class="fw-bold fs-3">{{ orders.count }}</p>
                <p class="fw-bold fs-3">Orders</p>
            </div>
            <div class="col-4 my-auto"><i class="fa-solid fa-basket-shopping fa-2xl"></i></div>
        </div>
    </div>
    <div class="col-10 col-md-3 stats-container products p-3 my-1">
        <div class="row">
            <div class="col-8">
                <p class="fw-bold fs-3">{{ products.count }}</p>
                <p class="fw-bold fs-3">Products</p>
            </div>
            <div class="col-4 my-auto"><i class="fa-solid fa-book fa-2xl"></i></div>
        </div>
    </div>
    <div class="col-10 col-md-3 stats-container users p-3 my-1">
        <div class="row">
            <div class="col-8">
                {% if total %}
                <p class="fw-bold fs-3">€{{ total|floatformat:2 }}</p>
                {% else %}
                <p class="fw-bold fs-3">€0</p>
                {% endif %}
                <p class="fw-bold fs-3">Revenue</p>
            </div>
            <div class="col-4 my-auto"><i class="fa-solid fa-hand-holding-dollar fa-2xl"></i>
            </div>
        </div>

    </div>
    <div class="row">
        <div class="col-12">
            <p class="fw-bold fs-4 mt-4">Products: {{ products.count }}</p>
            {% if products %}
            <div class="order-history table-responsive mt-3">
                <table class="table table-borderless table-striped table-hover">
                    <thead>
                        <tr class="order-table-row">
                            <th>Title</th>
                            <th>On Sale</th>
                            <th>Price</th>
                            <th>Reviews</th>
                            <th>Stock</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for product in products %}
                        <tr>
                            <td>
                                <a href="{% url 'product' product.id %}" title="{{ product.title }}">
                                    {{ product.title }}
                                </a>
                            </td>
                            <td class="text-center">
                                {% if product.on_sale %}
                                Yes
                                {% else %}
                                No
                                {% endif %}
                            </td>
                            <td>€{{ product.product_price|floatformat:'2' }}</td>
                            <td class="text-center">{{ product.reviews.count }}</td>
                            {% if product.stock_amount == 0 %}
                            <td id="status-cell-nostock">
                                {{ product.stock_amount }}
                            </td>
                            {% elif product.stock_amount <= 5 %}
                            <td id="status-cell-warning">
                                {{ product.stock_amount }}
                            </td>
                            {% else %}
                            <td id="status-cell-instock">
                                {{ product.stock_amount }}
                            </td>
                            {% endif %}
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
            {% else %}
            <div class="d-grid gap-2">
                <p class="text-center">No Products to display</p>

            </div>
            {% endif %}
        </div>
    </div>
</div>
{% endblock admin_content %}