{% extends 'admin_panel/admin_base.html' %}
{% block title %} Admin Delete code{% endblock title %}
{% block admin_content %}
<div class="container my-5">
    <div class="row">
        <div class="col-12 col-md-8 col-lg-6 mx-auto text-center">
            {% if product %}
            <h3>Are you sure you want to delete this product <span class="text-orange">{{ product.title }}</span> ?</h3>
            <div>
                <p class="text-danger">You are about to delete this book.
                    <br>
                    This action cannot be undone.
                </p>
                {% else %}
                <h3>Are you sure you want to delete this code <span class="text-orange">{{ code.code }}</span> ?</h3>
                <div>
                    <p class="text-danger">You are about to delete this code.
                        <br>
                        This action cannot be undone.
                    </p>
                    {% endif %}
                    {% if product %}
                    <form action="{% url 'admin-delete-product' product.id %}" method="POST">
                        {% csrf_token %}
                        <a href="{% url 'admin-panel' %}" class="btn btn-gray">Back</a>
                        <button type="submit" class="btn btn-danger">Delete</button>
                    </form>
                    {% else %}
                    <form action="{% url 'admin-discounts-delete' code.id %}" method="POST">
                        {% csrf_token %}
                        <a href="{% url 'admin-discounts' %}" class="btn btn-gray">Back</a>
                        <button type="submit" class="btn btn-danger">Delete</button>
                    </form>
                    {% endif %}
                </div>
            </div>
        </div>
        {% endblock admin_content %}