{% extends 'base.html' %}
{% load static %}

{% block title %}
Home
{% endblock title %}

{% block content %}

{% include 'partials/hero-section.html' %}

<section class="trust-badges mt-5 py-4">
    <div class="container">
        <div class="row">
            <div class="col-12 col-sm-4">
                <figure class="itemside">
                    <div class="aside text-center">
                        <span class="custom-icon">
                            <i class="fa-solid fa-truck fa-fade"></i>
                        </span>
                    </div>
                    <figcaption class="info text-center">
                        <h6 class="title">Fast Delivery</h6>
                        <p class="text-muted">Same Day Shipping!</p>
                    </figcaption>
                </figure>
            </div>

            <div class="col-12 col-sm-4">
                <figure class="itemside">
                    <div class="aside text-center">
                        <span class="custom-icon">
                            <i class="fa-regular fa-credit-card fa-flip"></i>
                        </span>
                    </div>
                    <figcaption class="info text-center">
                        <h6 class="title">Secure Payment</h6>
                        <p class="text-muted">Payment system by Stripe.</p>
                    </figcaption>
                </figure>
            </div>

            <div class="col-12 col-sm-4">
                <figure class="itemside">
                    <div class="aside text-center">
                        <span class="custom-icon">
                            <i class="fa-solid fa-rotate-left fa-spin"></i>
                        </span>
                    </div>
                    <figcaption class="info text-center">
                        <h6 class="title">Free Returns!</h6>
                        <p class="text-muted">Free returns on all books within 30 days! </p>
                    </figcaption>
                </figure>
            </div>
        </div>
    </div>
</section>

<section class="products">
    <div class="container text-center mt-5">
        <div class="row mt-5 justify-content-center">
            {% for book in books %}
            <div class="col-12 col-md-3 col-sm-6">
                <div class="product-grid d-flex flex-column align-items-center">
                    <div class="product-image">
                        <a href="{% url 'product' book.id %}" class="image">
                            {% if book.image %}
                            <img src="{{ book.image.url }}">
                            {% endif %}
                        </a>{% if book.price_discount %}
                        <span class="product-discount-label">-{{ book.price_discount }}%</span>
                        {% endif %}
                        <form class="product-links" method="POST" action="{% url 'wishlist-add' book.id %}">
                            {% csrf_token %}
                            <button type="submit" name="wishlist" value="submit"><i class="fa fa-heart"></i></button>
                            <input type="hidden" name="redirect_url" value="{{ request.get_full_path }}">
                        </form>
                        <form action="{% url 'add-to-cart' book.id %}" method="POST">
                            {% csrf_token %}
                            <input type="hidden" name="quantity" value="1">
                            {% if book.in_stock %}
                            <input type="submit" class=" add-to-cart" value="Add To Cart">
                            {% else %}
                            <input type="submit" class="btn-gray add-to-cart" value="Out of stock" disabled>
                            {% endif %}
                            <input type="hidden" name="redirect_url" value="{{ request.get_full_path }}">
                        </form>
                    </div>
                    <div class="product-content">
                        <h3 class="title text-truncate"><a href="#">{{ book.title }}</a></h3>
                        {% for author in book.author.all|slice:':1'  %}
                        <p class="mb-0">{{ author }}</p>
                        {% endfor %}
                        {% if book.sale_price %}
                        <div class="price">€ {{ book.sale_price }}
                            <span>€{{ book.price }}</span>
                        </div>
                        {% else %}
                        <div class="price">€ {{ book.price }}
                        </div>
                        {% endif %}
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</section>
<section class="newsletter my-5" style="height: 300px;">
    <div class="container">
        <div class="row">
            <div class="col-12 justify-content-center text-center">
                <div class="custom-icon">
                    <i class="fa-solid fa-envelope-open-text"></i>
                </div>
                <div class="subscribe">
                    <h4>Subscribe To Our Newsletter</h4>
                    <p>Join out subscribers list to get the latest news, updates and special offeres delivered
                        directly in your inbox.</p>
                </div>
                <div class="container">
                    <form class="d-flex justify-content-center flex-wrap" method="POST" action="#">
                        <div class="my-2 px-2 col-md-6"><input class="form-control" type="email" name="email" placeholder="Your Email">
                        </div>
                        <div class="my-2"><button class="btn btn-orange" type="submit">Subscribe
                            </button></div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>

{% endblock %}