{% load static %}
<section class="hero-section px-2">
    <div class="container">
        <div class="row mt-2 custom-border justify-content-center align-items-center">
            <div class="col-12 col-md-5 p-4 d-flex align-items-center">
                <div class="text-container d-flex flex-column align-items-left">
                    <h1 class="hero-text text-left">Discover your next reading adventure at <span class="text-orange">BookHeaven</span></h1>
                    <p>Indulge in a world of books and embark on your next literary
                        journey at <span class="text-orange fw-bold">BookHeaven</span>, a Dublin-based family business offering an array of
                        fiction,
                        non-fiction, children's books, and teen books. Immerse yourself in the allure of bestsellers and good reads,
                        combining timeless classics with contemporary gems that await you on every page.</p>
                    <div>
                        <a class="btn btn-orange btn-lg text-white hero-btn" href="{% url 'all-products' %}">Shop Now</a>
                    </div>
                </div>
            </div>
            <div class="col-12 col-md-7 mt-3 d-flex justify-content-center">
                <img class=" hero-image img-fluid" src="{% static 'images/hero-image.png' %}" alt="Image of bestseller books">
            </div>
        </div>
    </div>
</section>