{% extends 'base.html' %}
{% load widget_tweaks %}


{% block title %}
Profile
{% endblock title %}

{% block content %}
<section class="profile mb-3">
    <div class="container">
        <nav style="--bs-breadcrumb-divider: '>';" aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="{% url 'home' %}">Home</a></li>
                <li class="breadcrumb-item active" aria-current="page">Profile</li>
            </ol>
        </nav>
    </div>

    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="custom-border p-3">
                    <div class="row">
                        {% include 'profiles/partials/sidebar.html' %}
                        <div class="col-12 col-lg-10 mt-4 mt-lg-0">
                            <p class="text-start">My wishlist:</p>
                            <div class="row mt-3 d-flex justify-content-center">
                                {% if wishlist %}
                                {% for item in wishlist %}
                                <div class="col-12 col-md-3 col-sm-6">
                                    <div class="product-grid d-flex flex-column align-items-center">
                                        <div class="product-image">
                                            <a href="{% url 'product' item.product.id %}" class="image">
                                                {% if item.product.image %}
                                                <img src="{{ item.product.image.url }}">
                                                {% endif %}
                                            </a>{% if item.product.price_discount %}
                                            <span class="product-discount-label">-{{ item.product.price_discount }}%</span>
                                            {% endif %}
                                            <form class="product-links" method="POST" action="{% url 'wishlist-add' item.product.id %}">
                                                {% csrf_token %}
                                                <button type="submit" class="wishlist" name="wishlist" value="submit"><i
                                                        class="fa fa-heart"></i></button>
                                                <input type="hidden" name="redirect_url" value="{{ request.get_full_path }}">
                                            </form>
                                            <form action="{% url 'add-to-cart' item.product.id %}" method="POST">
                                                {% csrf_token %}
                                                <input type="hidden" name="quantity" value="1">
                                                {% if item.product.in_stock %}
                                                <input type="submit" class=" add-to-cart" value="Add To Cart">
                                                {% else %}
                                                <input type="submit" class="btn-gray add-to-cart" value="Out of stock" disabled>
                                                {% endif %}
                                                <input type="hidden" name="redirect_url" value="{{ request.get_full_path }}">
                                            </form>
                                        </div>
                                        <div class="product-content">
                                            <h3 class="title text-truncate"><a href="#">{{ item.product.title }}</a></h3>
                                            {% for author in item.product.author.all|slice:':1'  %}
                                            <p class="mb-0">{{ author }}</p>
                                            {% endfor %}
                                            {% if item.product.sale_price %}
                                            <div class="price">€ {{ item.product.sale_price }}
                                                <span>€{{ item.product.price }}</span>
                                            </div>
                                            {% else %}
                                            <div class="price">€ {{ item.product.price }}
                                            </div>
                                            {% endif %}
                                        </div>
                                    </div>
                                </div>
                                {% endfor %}
                                {% else %}
                                <div class="d-grid gap-2">
                                    <p class="text-center">No items in wishlist</p>
                                    <a href="{% url 'all-products' %}" class="btn btn-orange d-block mx-auto">Browse Books</a>
                                </div>
                                {% endif %}
                            </div>



                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


</section>
{% endblock content %}