@import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville:ital,wght@0,400;0,700;1,400&family=Poppins:ital,wght@0,600;1,400&display=swap');

:root {
    --orange: #f58669;
    --dark-orange: #de502c;
    --offwhite: #ebe8e0;
    --offwhite2: #efefed;
    --dark-gray: #574c49;
    --white: #ffff;
    --brown: #63453d;
}

body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    background-color: #ebeae5;
}

/* Nav */
.navbar-nav .nav-link {
    font-weight: 600;
    font-family: 'Libre Baskerville', serif;
}

.navbar-nav .nav-link:hover {
    color: var(--dark-orange) !important;
}

/* Toasts */
.message-container {
    min-height: 30px;
    position: fixed;
    top: 72px;
    right: 15px;
    z-index: 99999999999;
}

.custom-toast {
    overflow: visible;
}

/* Hero Section */
.hero-text {
    font-family: 'Libre Baskerville', serif;
}

.hero-orange {
    color: var(--orange);
}

.btn-orange {
    background-color: var(--orange);
    color: var(--white);
}

.btn-orange:hover {
    background-color: var(--dark-orange);
    color: var(--white);
}

.btn-brown {
    background-color: var(--brown);
    color: var(--white);
}

.btn-brown:hover {
    background-color: #2b221f;
    color: var(--white);
}

.bg-orange {
    background-color: var(--orange);
}

.custom-border {
    border: var(--orange) 1px solid;
    border-radius: 20px;
    box-shadow: 5px 7px 26px -4px rgba(0, 0, 0, 0.66);
    -webkit-box-shadow: 5px 7px 26px -4px rgba(0, 0, 0, 0.66);
    -moz-box-shadow: 5px 7px 26px -4px rgba(0, 0, 0, 0.66);
}
.text-orange {
    color: var(--orange);
}

.icon i {
    font-size: 50px;
    color: var(--orange);
}

/* Product Card */
.product-grid {
    font-family: 'Poppins', sans-serif;
    text-align: center;
}
.product-grid .product-image {
    overflow: hidden;
    position: relative;
    z-index: 1;
}
.product-grid .product-image a.image {
    display: block;
}
.product-grid .product-image img {
    width: 100%;

    max-height: 395px;
    object-fit: contain;
}
.product-grid .product-discount-label {
    color: #fff;
    background: var(--orange);
    font-size: 13px;
    font-weight: 600;
    line-height: 25px;
    padding: 0 20px;
    position: absolute;
    top: 10px;
    left: 0;
}
.product-grid .product-links {
    padding: 0;
    margin: 0;
    list-style: none;
    position: absolute;
    top: 10px;
    right: -50px;
    transition: all 0.5s ease 0s;
}
.product-grid:hover .product-links {
    right: 10px;
}
.product-grid .product-links li a {
    color: var(--orange);
    background: transparent;
    font-size: 17px;
    line-height: 38px;
    width: 38px;
    height: 38px;
    border: 1px solid #333;
    border-bottom: none;
    display: block;
    transition: all 0.3s;
}
.product-grid .product-links li:last-child a {
    border-bottom: 1px solid #333;
}
.product-grid .product-links li a:hover {
    color: #fff;
    background: var(--orange);
}
.product-grid .add-to-cart {
    background: var(--orange);
    color: #fff;
    font-size: 16px;
    text-transform: uppercase;
    letter-spacing: 2px;
    width: 100%;
    padding: 10px 26px;
    position: absolute;
    left: 0;
    bottom: -60px;
    transition: all 0.3s ease 0s;
}
.product-grid:hover .add-to-cart {
    bottom: 0;
}
.product-grid .add-to-cart:hover {
    text-shadow: 4px 4px rgba(0, 0, 0, 0.2);
}
.product-grid .product-content {
    /* background: #fff; */
    padding: 15px;
    width: 100%;
}
.product-grid .title {
    font-size: 15px;
    font-weight: 600;
    text-transform: capitalize;
    margin: 0 0 7px;
}
.product-grid .title a {
    color: var(--dark-orange);
    transition: all 0.3s ease 0s;
    text-decoration: none;
}

.product-grid .author-link {
    text-decoration: none;
    color: var(--dark-gray);
}
.product-grid .title a:hover {
    color: var(--orange);
}
.product-grid .price {
    color: #0d0d0d;
    font-size: 14px;
    font-weight: 600;
}
.product-grid .price span {
    color: #888;
    font-size: 13px;
    font-weight: 400;
    text-decoration: line-through;
}

/*end card */

/* Single product page */

.nav-tabs .nav-item.show .nav-link,
.nav-tabs .nav-link.active {
    font-weight: 500;
    background-color: #eeebe3;
    border-bottom: solid 1px var(--dark-orange);
}

.nav-tabs .nav-item.show .nav-link,
.nav-tabs .nav-link:hover {
    cursor: pointer;
}

.nav-tabs {
    --bs-nav-tabs-border-color: #97908e;
}

.table > :not(caption) > * > * {
    background-color: transparent;
    border-bottom-color: var(--dark-gray);
}

.in-stock-label {
    box-shadow: 2px 3px 2px 1px #8f8f8f;
    background-color: #a5d9a5;
    border-radius: 9px;
    padding: 6px;
}

.out-of-stock-label {
    box-shadow: 2px 3px 2px 1px #8f8f8f;
    background-color: #ff7a7a;
    border-radius: 9px;
    padding: 6px;
}

.btn-gray {
    background-color: #cdc8c8;
    color: var(--white);
}
/* Shopping cart page */
.cart-item-picture img {
    height: 70px;
}

.cart-item-quantity {
    width: fit-content;
}

.cart-item-quantity input {
    width: 80px;
}

/* Author page */
.author-image {
    max-height: 250px;
}

/* FAQ page */
.accordion-button:not(.collapsed) {
    color: var(--bs-accordion-active-color);
    background-color: var(--orange);
    box-shadow: inset 0 calc(-1 * var(--bs-accordion-border-width)) 0 var(--bs-accordion-border-color);
}

.accordion-button:focus {
    border-color: var(--dark-orange) !important;
}

/* Forms */
.form-error ul {
    padding: 0;
}
.form-error ul li {
    list-style-type: none;
}
.checkout-form {
    border: 1px solid var(--dark-gray);
    padding: 8px;
}
.checkout-form .form-floating > label {
    color: #aab7c4;
}

/* Checkout success page */
.checkout-success i {
    font-size: 5rem;
    margin-top: 2rem;
}

.delivery-details p {
    margin: 0;
    padding: 0;
}

.order-number {
    overflow-wrap: break-word;
}

/* footer */
#footer {
    background-color: var(--orange);
    margin-top: auto;
}

#social-links a {
    text-decoration: none;
}

#social-links a i {
    color: var(--white);
    font-size: 25px;
}

#social-links a i:hover {
    color: var(--dark-gray);
}
.copyright {
    background-color: var(--dark-orange);
}

.copyright i:hover {
    color: var(--white);
}
/* Media queries */

/* Hero section */
@media (max-width: 767px) {
    .hero-image {
        height: 360px;
    }
}

@media (max-width: 460px) {
    .hero-image {
        height: 284px;
    }

    /* Toasts */
    .message-container {
        right: 0px;
        max-width: 310px;
    }
}
/* card */
@media screen and (max-width: 990px) {
    .product-grid {
        margin-bottom: 30px;
    }
}
