@import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville:ital,wght@0,400;0,700;1,400&family=Poppins:ital,wght@0,600;1,400&display=swap');

:root {
    --orange: #f58669;
    --dark-orange: #de502c;
    --offwhite: #ebe8e0;
    --offwhite2: #efefed;
    --dark-gray: #574c49;
    --white: #ffff;
    --brown: #63453d;
}

body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    background-color: #ebeae5;
}

/* Nav */
.navbar-nav .nav-link {
    font-weight: 600;
    font-family: 'Libre Baskerville', serif;
}

.navbar-nav .nav-link:hover {
    color: var(--dark-orange) !important;
}

/* Toasts */
.message-container {
    min-height: 30px;
    position: fixed;
    top: 72px;
    right: 15px;
    z-index: 99999999999;
}

.custom-toast {
    overflow: visible;
}

/* Hero Section */
.hero-text {
    font-family: 'Libre Baskerville', serif;
}

.hero-orange {
    color: var(--orange);
}

.btn-orange {
    background-color: var(--orange);
    color: var(--white);
}

.btn-orange:hover {
    background-color: var(--dark-orange);
    color: var(--white);
}

.btn-brown {
    background-color: var(--brown);
    color: var(--white);
}

.hero-btn {
    -webkit-box-shadow: 1px 9px 26px -4px rgba(0, 0, 0, 0.66);
}

.btn-brown:hover {
    background-color: #2b221f;
    color: var(--white);
}

.bg-orange {
    background-color: var(--orange);
}

.custom-border {
    border: var(--orange) 1px solid;
    border-radius: 20px;
    box-shadow: 5px 7px 26px -4px rgba(0, 0, 0, 0.66);
    -webkit-box-shadow: 5px 7px 26px -4px rgba(0, 0, 0, 0.66);
    -moz-box-shadow: 5px 7px 26px -4px rgba(0, 0, 0, 0.66);
}
.text-orange {
    color: var(--dark-orange);
}

.custom-icon i {
    font-size: 50px;
    color: var(--orange);
}

/* Product Card */
.product-grid {
    font-family: 'Poppins', sans-serif;
    text-align: center;
    border: transparent 1px solid;
}

.product-grid:hover {
    border: var(--orange) 1px solid;
    box-shadow: 5px 7px 26px -4px rgba(0, 0, 0, 0.66);
    -webkit-box-shadow: 5px 7px 26px -4px rgba(0, 0, 0, 0.66);
    -moz-box-shadow: 5px 7px 26px -4px rgba(0, 0, 0, 0.66);
}
.product-grid .product-image {
    overflow: hidden;
    position: relative;
    z-index: 1;
}
.product-grid .product-image a.image {
    display: block;
}
.product-grid .product-image img {
    width: 100%;

    max-height: 395px;
    object-fit: contain;
}
.product-grid .product-discount-label {
    color: #fff;
    background: var(--orange);
    font-size: 13px;
    font-weight: 600;
    line-height: 25px;
    padding: 0 20px;
    position: absolute;
    top: 10px;
    left: 0;
}
.product-grid .product-links {
    padding: 0;
    margin: 0;
    list-style: none;
    position: absolute;
    top: 10px;
    right: -50px;
    transition: all 0.5s ease 0s;
}
.product-grid:hover .product-links {
    right: 10px;
}
.product-grid .product-links button {
    color: var(--orange);
    background: transparent;
    font-size: 17px;
    line-height: 38px;
    width: 38px;
    height: 38px;
    border: 1px solid #333;
    border-bottom: none;
    display: block;
    transition: all 0.3s;
    border-bottom: 1px solid #333;
}

.product-grid .product-links button:hover {
    color: #fff;
    background: var(--orange);
}
.product-grid .add-to-cart {
    background: var(--orange);
    color: #fff;
    font-size: 16px;
    text-transform: uppercase;
    letter-spacing: 2px;
    width: 100%;
    padding: 10px 26px;
    position: absolute;
    left: 0;
    bottom: -60px;
    transition: all 0.3s ease 0s;
}
.product-grid:hover .add-to-cart {
    bottom: 0;
}
.product-grid .add-to-cart:hover {
    text-shadow: 4px 4px rgba(0, 0, 0, 0.2);
}
.product-grid .product-content {
    padding: 15px;
    width: 100%;
}
.product-grid .title {
    font-size: 15px;
    font-weight: 600;
    text-transform: capitalize;
    margin: 0 0 7px;
}
.product-grid .title a {
    color: var(--dark-orange);
    transition: all 0.3s ease 0s;
    text-decoration: none;
}

.product-grid .author-link {
    text-decoration: none;
    color: var(--dark-gray);
}
.product-grid .title a:hover {
    color: var(--orange);
}
.product-grid .price {
    color: #0d0d0d;
    font-size: 14px;
    font-weight: 600;
}
.product-grid .price span {
    color: #888;
    font-size: 13px;
    font-weight: 400;
    text-decoration: line-through;
}

/*end card */

/* Single product page */

.nav-tabs .nav-link {
    border: var(--bs-nav-tabs-border-width) solid #97908e;
}

.nav-tabs .nav-item.show .nav-link,
.nav-tabs .nav-link.active {
    font-weight: 500;
    background-color: #eeebe3;
    border: var(--bs-nav-tabs-border-width) solid var(--orange);
}

.nav-tabs .nav-item.show .nav-link,
.nav-tabs .nav-link:hover {
    cursor: pointer;
    border: var(--bs-nav-tabs-border-width) solid var(--orange);
}

.nav-tabs {
    --bs-nav-tabs-border-color: #97908e;
}

.table > :not(caption) > * > * {
    background-color: transparent;
    border-bottom-color: var(--dark-gray);
}

.in-stock-label {
    box-shadow: 2px 3px 2px 1px #8f8f8f;
    background-color: #a5d9a5;
    border-radius: 9px;
    padding: 6px;
}

.out-of-stock-label {
    box-shadow: 2px 3px 2px 1px #8f8f8f;
    background-color: #ff7a7a;
    border-radius: 9px;
    padding: 6px;
}

.btn-gray {
    background-color: #cdc8c8;
    color: var(--white);
    cursor: not-allowed;
}

button.wishlist {
    color: var(--orange);
    font-size: 25px;
    border: none;
    background-color: transparent;
}

.product-details {
    min-height: 350px;
}

.product-details .form-control {
    min-height: 150px;
}
#id_rating {
    color: #f0bc00;
}

.user-image {
    max-height: 40px;
}

/* Edit review page*/
.edit-review-form textarea {
    min-height: 150px !important;
}
/* Shopping cart page */
.cart-item-picture img {
    height: 70px;
}

.cart-item-quantity {
    width: fit-content;
}

.cart-item-quantity input {
    width: 80px;
}

/* Author page */
.author-image {
    max-height: 250px;
}

/* FAQ page */
.accordion-button:not(.collapsed) {
    color: var(--bs-accordion-active-color);
    background-color: var(--orange);
    box-shadow: inset 0 calc(-1 * var(--bs-accordion-border-width)) 0 var(--bs-accordion-border-color);
}

.accordion-button:focus {
    border-color: var(--dark-orange) !important;
}

/* Forms */
.form-error ul {
    padding: 0;
}
.form-error ul li {
    list-style-type: none;
}
.checkout-form {
    padding: 8px;
}
.checkout-form .form-floating > label {
    color: #aab7c4;
}

/* Checkout success page */
.checkout-success i {
    font-size: 5rem;
    margin-top: 2rem;
}

.delivery-details p {
    margin: 0;
    padding: 0;
}

.order-number {
    overflow-wrap: break-word;
}
#loading-overlay {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: var(--orange);
    z-index: 9999;
}

.loading-spinner {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0;
    height: 100%;
}

/* Pagination */
.page-link {
    color: var(--orange);
}

.page-item.active .page-link {
    color: var(--white);
    background-color: var(--orange);
    border-color: var(--dark-orange);
}

/* Profile page */
.order-history {
    max-height: 529px;
    overflow-y: auto;
}

/* Sidebar profile page */
#profile-nav .nav-link {
    width: fit-content;
}
#profile-nav .nav-link.active {
    border-bottom: 1px solid var(--orange);
}

.sidebar {
    border-right: 1px solid gray;
}

/*Admin dashboard */
#admin-nav .nav-link.active {
    border-bottom: 1px solid var(--orange);
}
.offcanvas {
    background-color: #f1f1f1;
}

.stats-container {
    border: 1px solid var(--dark-gray);
    border-radius: 5px;
    box-shadow: 5px 7px 26px -4px rgba(0, 0, 0, 0.66);
    -webkit-box-shadow: 5px 7px 26px -4px rgba(0, 0, 0, 0.66);
    -moz-box-shadow: 5px 7px 26px -4px rgba(0, 0, 0, 0.66);
}

.stats-container.users {
    background: rgb(143, 179, 124);
    background: linear-gradient(287deg, rgba(143, 179, 124, 1) 0%, rgba(175, 217, 152, 1) 100%);
}

.stats-container.products {
    background: rgb(196, 153, 125);
    background: linear-gradient(287deg, rgba(196, 153, 125, 1) 0%, rgba(241, 188, 153, 1) 100%);
}

.stats-container.orders {
    background: rgb(116, 135, 163);
    background: linear-gradient(287deg, rgba(116, 135, 163, 1) 0%, rgba(178, 200, 231, 0.9808298319327731) 100%);
}

.stats-container p {
    font-size: 1.3rem;
}

.order-table-row {
    background-color: rgb(241 161 139);
}

#status-cell-instock {
    background-color: #c7dbd2 !important;
}
#status-cell-nostock {
    background-color: #eccccf !important;
}
#status-cell-warning {
    background-color: #f2e8c5 !important;
}

/*Create product page*/
.author-input {
    height: 124px !important;
    overflow-y: scroll;
}

.form-border {
    border: var(--orange) 1px solid;
    border-radius: 20px;
}

/* Product Form */

.btn-file {
    position: relative;
    overflow: hidden;
}

.btn-file input[type='file'] {
    position: absolute;
    top: 0;
    right: 0;
    min-width: 100%;
    min-height: 100%;
    opacity: 0;
    cursor: pointer;
}

.custom-checkbox .custom-control-label::before {
    border-radius: 0;
    border-color: #dc3545;
}

.custom-checkbox .custom-control-input:checked ~ .custom-control-label::before {
    background-color: #dc3545;
    border-color: #dc3545;
    border-radius: 0;
}
/*admin codes*/
.code-card {
    background-color: #ebeae5;
    padding: 0;
    box-shadow: 5px 7px 26px -4px rgba(0, 0, 0, 0.66);
    -webkit-box-shadow: 5px 7px 26px -4px rgba(0, 0, 0, 0.66);
    -moz-box-shadow: 5px 7px 26px -4px rgba(0, 0, 0, 0.66);
}
.code-card .card-body {
    background: rgb(244, 174, 137);
    background: linear-gradient(287deg, rgba(244, 174, 137, 1) 8%, rgba(251, 204, 179, 1) 100%);
    margin-bottom: 10px;
}

/*Admin Orders*/
#status-cell-completed {
    background-color: #c7dbd2 !important;
}
#status-cell-cancelled {
    background-color: #eccccf !important;
}
#status-cell-progress {
    background-color: #c5d7f2 !important;
}

/* footer */
#footer {
    background-color: var(--orange);
    margin-top: auto;
}

#social-links a {
    text-decoration: none;
}

#social-links a i {
    color: var(--white);
    font-size: 25px;
}

#social-links a i:hover {
    color: var(--dark-gray);
}
.copyright {
    background-color: var(--dark-orange);
}

.copyright i:hover {
    color: var(--white);
}
/* Media queries */

/* Hero section */
@media (max-width: 767px) {
    .hero-image {
        height: 360px;
    }
}

@media (max-width: 460px) {
    .hero-image {
        height: 284px;
    }

    /* Toasts */
    .message-container {
        right: 0px;
        max-width: 310px;
    }
}
/* card */
@media screen and (max-width: 990px) {
    .product-grid {
        margin-bottom: 30px;
    }
}
