{% extends 'base.html' %}

{% block content %}
<section class="authors">
    <div class="container">
        <nav style="--bs-breadcrumb-divider: '>';" aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="{% url 'home' %}">Home</a></li>
                <li class="breadcrumb-item"><a href="{% url 'authors' %}">Authors</a></li>
                <li class="breadcrumb-item active" aria-current="page">{{ author.name }}</li>
            </ol>
        </nav>
    </div>
    <div class="container my-5">
        <div class="row d-flex justify-content-center">
            <div class="col-12 col-md-10 custom-border py-4">
                <div class="row">
                    <div class="col-12 col-md-6 d-flex justify-content-center">
                        <img class="author-image img-fluid" src="{{ author.image.url }}" alt="{{ author.name }} image">
                    </div>
                    <div class="col-12 col-md-6">
                        <h4>{{ author.name }}</h4>
                        <p>{{ author.bio }}</p>
                    </div>

                </div>
                <div class="row mt-5">
                    <div class="col-12">
                        <h5 class="text-center">Books by {{ author.name }}</h5>
                        <hr>
                        <div class="row">

                            {% for book in books %}
                            <div class="col-12 col-md-3 col-sm-6 mb-3">
                                <div class="product-grid d-flex flex-column align-items-center">
                                    <div class="product-image">
                                        <a href="{% url 'product' book.id %}" class="image">
                                            {% if book.image %}
                                            <img src="{{ book.image.url }}">
                                            {% endif %}
                                        </a>{% if book.price_discount %}
                                        <span class="product-discount-label">-{{ book.price_discount }}%</span>
                                        {% endif %}
                                        <form class="product-links" method="POST" action="{% url 'wishlist-add' book.id %}">
                                            {% csrf_token %}
                                            <button type="submit" name="wishlist" value="submit"><i class="fa fa-heart"></i></button>
                                            <input type="hidden" name="redirect_url" value="{{ request.get_full_path }}">
                                        </form>
                                        <form action="{% url 'add-to-cart' book.id %}" method="POST">
                                            {% csrf_token %}
                                            <input type="hidden" name="quantity" value="1">
                                            {% if book.in_stock %}
                                            <input type="submit" class=" add-to-cart" value="Add To Cart">
                                            {% else %}
                                            <input type="submit" class="btn-gray add-to-cart" value="Out of stock" disabled>
                                            {% endif %}
                                            <input type="hidden" name="redirect_url" value="{{ request.get_full_path }}">
                                        </form>
                                    </div>
                                    <div class="product-content">
                                        <h3 class="title text-truncate"><a href="#">{{ book.title }}</a></h3>
                                        {% for author in book.author.all|slice:':1'  %}
                                        <p class="mb-0">{{ author }}</p>
                                        {% endfor %}
                                        {% if book.sale_price %}
                                        <div class="price">€ {{ book.sale_price }}
                                            <span>€{{ book.price }}</span>
                                        </div>
                                        {% else %}
                                        <div class="price">€ {{ book.price }}
                                        </div>
                                        {% endif %}
                                    </div>
                                </div>
                            </div>
                            {% endfor %}



                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</section>
{% endblock content %}