{% extends 'base.html' %}
{% load static %}

{% block content %}
<div class="container">
    <nav style="--bs-breadcrumb-divider: '>';" aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="{% url 'home' %}">Home</a></li>
            <li class="breadcrumb-item active" aria-current="page">Books</li>
        </ol>
    </nav>
</div>

<section class="products">
    <div class="container">
        <div class="row">
            <div class="col-12 mx-auto text-center">
                {% if category %}

                {% for item in category %}
                <h3>{{ item.name }}</h3>
                {% endfor %}

                {% elif genre %}
                {% for item in genre %}
                <h3>{{ item.friendly_name }}</h3>
                {% endfor %}

                {% elif search_query %}
                <h3>Results</h3>
                {% elif deals %}
                <h3>Deals</h3>
                {% elif new_arrivals %}
                <h3>New Arrivals</h3>
                {% else %}
                <h3>All Books</h3>
                {% endif %}

                <hr>
            </div>
        </div>
        <div class="row d-flex justify-content-center">
            <div class="col-10 products-container">
                <!-- Product sort -->
                <div class="row mx-2">
                    <div class="col-12 col-md-6 my-auto order-md-last d-flex justify-content-center justify-content-md-end">
                        <div class="sort-select-wrapper">
                            <select id="sort-selector" class="form-select">
                                <option value="reset" {% if current_sorting == 'None_None' %}selected{% endif %}>Sort by...</option>
                                <option value="price_asc" {% if current_sorting == 'price_asc' %}selected{% endif %}> Price (low to high)
                                </option>
                                <option value="price_desc" {% if current_sorting == 'price_desc' %}selected{% endif %}>Price (high to low)
                                </option>
                                <option value="title_asc" {% if current_sorting == 'title_asc' %}selected{% endif %}>Title (A-Z)</option>
                                <option value="title_desc" {% if current_sorting == 'title_desc' %}selected{% endif %}>Title (Z-A)</option>
                                {% if category or genre %}
                                {% else %}
                                <option value="genre_asc" {% if current_sorting == 'genre_asc' %}selected{% endif %}>Genre (A-Z)
                                </option>
                                <option value="genre_desc" {% if current_sorting == 'genre_desc' %}selected{% endif %}>Genre (Z-A)
                                </option>
                                <option value="category_asc" {% if current_sorting == 'category_asc' %}selected{% endif %}>Category (A-Z)
                                </option>
                                <option value="category_desc" {% if current_sorting == 'category_desc' %}selected{% endif %}>Category (Z-A)
                                </option>
                                {% endif %}
                            </select>
                        </div>
                    </div>
                    <div class="col-12 col-md-6 order-md-first">
                        <p class="text-muted mt-3 text-center text-md-left">
                            {{ books_count }} Products
                        </p>
                    </div>
                </div>
                <!-- Product sort end  -->
                <div class="row mt-3 d-flex justify-content-center">
                    {% for book in books %}
                    <!-- Product Card -->
                    <div class="col-sm-6 col-md-4 col-lg-4 col-xl-3 mb-3">
                        <div class="product-grid d-flex flex-column align-items-center h-100">
                            <div class="product-image">
                                <a href="{% url 'product' book.id %}" class="image">
                                    <img src="{{ book.book_image }}" alt="{{ book.title}} book cover image">
                                </a>{% if book.price_discount %}
                                <span class="product-discount-label">-{{ book.price_discount }}%</span>
                                {% endif %}
                                <form class="product-links" method="POST" action="{% url 'wishlist-add' book.id %}">
                                    {% csrf_token %}
                                    <button type="submit" name="wishlist" value="submit">
                                        <i class="fa fa-heart"></i>
                                    </button>
                                    <input type="hidden" name="redirect_url" value="{{ request.get_full_path }}">
                                </form>
                                <form action="{% url 'add-to-cart' book.id %}" method="POST">
                                    {% csrf_token %}
                                    <input type="hidden" name="quantity" value="1">
                                    {% if book.in_stock %}
                                    <input type="submit" class=" add-to-cart" value="Add To Cart">
                                    {% else %}
                                    <input type="submit" class="btn-gray add-to-cart" value="Out of stock" disabled>
                                    {% endif %}
                                    <input type="hidden" name="redirect_url" value="{{ request.get_full_path }}">
                                </form>
                            </div>
                            <div class="product-content">
                                <h3 class="title text-truncate"><a href="{% url 'product' book.id %}">{{ book.title }}</a></h3>
                                {% for author in book.author.all|slice:':1'  %}
                                <p class="mb-0">{{ author }}</p>
                                {% endfor %}
                                {% if book.sale_price %}
                                <div class="price">€ {{ book.sale_price }}
                                    <span>€{{ book.price }}</span>
                                </div>
                                {% else %}
                                <div class="price">€ {{ book.price }}
                                </div>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                    <!-- End Product Card -->
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>

    <!-- Pagination -->
    <div class="row">
        <div class="col-md-12">
            {% if books.has_other_pages %}
            <ul class="pagination justify-content-center">
                {% if books.has_previous %}
                <li class="page-item">
                    <a class="page-link" href="?page=1">&laquo;First</a>
                </li>
                <li class="page-item">
                    <a class="page-link" href="?page={{ books.previous_page_number }}">&laquo;Previous</a>
                </li>
                {% endif %}
                <li class="page-item active" aria-current="page">
                    <span class="page-link">Page {{ books.number }} of
                        {{ books.paginator.num_pages }}</span>
                </li>
                {% if books.has_next %}
                <li class="page-item">
                    <a class="page-link" href="?page={{ books.next_page_number }}">&raquo;Next</a>
                </li>
                <li class="page-item">
                    <a class="page-link" href="?page={{ books.paginator.num_pages }}">Last &raquo;</a>
                </li>
                {% endif %}
            </ul>
            {% endif %}
        </div>
    </div>



</section>
{% endblock content %}

{% block extra_js %}
{{ block.super }}
<script src="{% static 'js/products.js' %}"></script>
{% endblock%}