{% extends 'base.html' %}

{% block content %}
<div class="container">
    <nav style="--bs-breadcrumb-divider: '>';" aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="{% url 'home' %}">Home</a></li>
            <li class="breadcrumb-item"><a href="{% url 'all-products' %}">Books</a></li>
            <li class="breadcrumb-item"><a href="">{{ book.genre.category.name }}</a></li>
            <li class="breadcrumb-item"><a href="">{{ book.genre }}</a></li>
            <li class="breadcrumb-item active" aria-current="page">{{ book.title }}</li>
        </ol>
    </nav>
</div>
<div class="container">
    <div class="row">
        <div class="col-12 col-md-6 d-flex justify-content-center">
            <img src="{{ book.image.url }}" alt="{{ book.title }} image">
        </div>
        <div class="col-md-6 col-12 mt-3">
            <h2>{{book.title}}</h2>
            <p>by
                {% for author in book.author.all|slice:':3' %}
                <a href="#"> {{ author }} </a>
            </p>
            {% endfor %}
            <p>Publisher: {{ book.publisher }}</p>
            {% if book.sale_price %}
            <div class="price"><s>€{{ book.price }}</s>
                <p style="font-size: 2rem;"> €{{ book.sale_price }}</p>
            </div>
            {% else %}
            <div class="price">
                <p style="font-size: 2rem;">€{{ book.price }}</p>
            </div>
            {% endif %}
            <div class="row">
                <div class="col-12">
                    <form action="" method="POST">
                        {% csrf_token %}
                        <p>Quantity:</p>
                        <select name="quantity" id="quantity">
                            <option value="1">1</option>
                            <option value="2">2</option>
                            <option value="3">3</option>
                            <option value="4">4</option>
                            <option value="5">5</option>
                            <option value="6">6</option>
                            <option value="7">7</option>
                            <option value="8">8</option>
                            <option value="9">9</option>
                            <option value="10">10</option>
                        </select>
                        <input type="submit" class="btn-orange" value="Add To Cart">
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock content %}