{% extends 'base.html' %}
{% load static %}
{% block title %}
{{ book.title }}
{% endblock title %}
{% block content %}
<section class="product-content">
    <div class="container">
        <nav style="--bs-breadcrumb-divider: '>';" aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="{% url 'home' %}">Home</a></li>
                <li class="breadcrumb-item"><a href="{% url 'all-products' %}">Books</a></li>
                <li class="breadcrumb-item"><a
                        href="{% url 'all-products' %}?category={{ book.genre.category.name }}">{{ book.genre.category.name }}</a></li>
                <li class="breadcrumb-item"><a href="{% url 'all-products' %}?genre={{ book.genre.name }}">{{ book.genre }}</a></li>
                <li class="breadcrumb-item active" aria-current="page">{{ book.title }}</li>
            </ol>
        </nav>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-12 col-md-6 d-flex justify-content-center">
                <img src="{{ book.book_image }}" alt="{{ book.title }} book cover image">
            </div>
            <div class="col-md-6 col-12 mt-3">
                <h2>{{book.title}}</h2>
                <p>by
                    {% for author in book.author.all|slice:':3' %}
                    <a href="{% url 'author' author.id %}"> {{ author }} </a>
                </p>
                {% endfor %}
                <p>Publisher: {{ book.publisher }}</p>
                <div class="rating">
                    {% if book.product_reviews %}
                    <p class="mb-0">Reviews:</p>
                    {% for i in book.get_average_rating %}
                    <i class="fa-solid fa-star" style="color:#f0bc00"></i>
                    {% endfor %}
                    {% else %}
                    <p>No Reviews yet</p>
                    {% endif %}
                </div>
                {% if book.sale_price %}
                <div class="price"><s>€{{ book.price }}</s>
                    <p style="font-size: 2rem;"> €{{ book.sale_price }}</p>
                </div>
                {% else %}
                <div class="price">
                    <p style="font-size: 2rem;">€{{ book.price }}</p>
                </div>
                {% endif %}
                <div class="stock d-flex ">
                    {% if book.in_stock %}
                    <p class="in-stock-label me-3"> <strong>IN STOCK</strong></p>
                    <p class="p-2 mb-0"> <strong>{{ book.stock_amount }}</strong></p>
                    {% else %}
                    <p class="out-of-stock-label"><strong>OUT OF STOCK</strong></p>
                    {% endif %}
                </div>
                <div class="row">
                    <div class="col-12">
                        <form class="product-links" method="POST" action="{% url 'wishlist-add' book.id %}">
                            {% csrf_token %}
                            {% if wishlist %}
                            <button type="submit" class="wishlist" name="wishlist" value="submit" aria-label="remove from wishlist"><i
                                    class="fa-solid fa-heart"></i></button>
                            <p>Added to wishlist</p>
                            {% else %}
                            <button type="submit" class="wishlist" name="wishlist" value="submit" aria-label="add to wishlist"><i
                                    class="fa-regular fa-heart fa-flip"></i></button>
                            <p>Add to wishlist</p>
                            {% endif %}
                            <input type="hidden" name="redirect_url" value="{{ request.get_full_path }}">
                        </form>
                        <form action="{% url 'add-to-cart' book.id %}" method="POST" class="d-flex flex-column product-form">
                            {% csrf_token %}
                            <label for="id_qty_{{ book.id }}" class="mb-2">Quantity:</label>
                            <select name="quantity" id="id_qty_{{ book.id }}" data-item-id="{{ book.id }}" class="mb-3">
                                <option value="1">1</option>
                                <option value="2">2</option>
                                <option value="3">3</option>
                                <option value="4">4</option>
                                <option value="5">5</option>
                                <option value="6">6</option>
                                <option value="7">7</option>
                                <option value="8">8</option>
                                <option value="9">9</option>
                                <option value="10">10</option>
                            </select>
                            {% if book.in_stock %}
                            <input type="submit" class="btn btn-orange" value="Add To Cart">
                            {% else %}
                            <input type="submit" class="btn-not-allowed" value="Add To Cart" disabled>
                            {% endif %}
                            <input type="hidden" name="redirect_url" value="{{ request.path }}">
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container my-5">
        <div class="row d-flex justify-content-center">
            <div class="col-12 col-md-10 custom-border product-details">
                <ul class="nav nav-tabs pt-2" role="tablist">
                    <li class="nav-item">
                        <a href="#description" class="nav-link text-black active" data-bs-toggle="tab" aria-current="page"
                            aria-selected="true" role="tab">Description</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-black" data-bs-toggle="tab" data-bs-target="#details">Details</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-black" data-bs-toggle="tab" data-bs-target="#reviews">Reviews</a>
                    </li>
                </ul>
                <div class="tab-content">
                    <div id="description" class="tab-pane fade show active">
                        <h5 class="my-2">Description:</h5>
                        <p>{{ book.description }}</p>
                    </div>
                    <div id="details" class="tab-pane fade">
                        <h5 class="my-2">Details:</h5>
                        <div class="container">
                            <div class="row">
                                <div class="col-8">
                                    <table class="table description">
                                        <thead>
                                            <tr>
                                                <th colspan="2">Book Information</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr>
                                                <td>ISBN:</td>
                                                <td>{{ book.isbn }}</td>
                                            </tr>
                                            <tr>
                                                <td>Publisher:</td>
                                                <td>{{ book.publisher }}</td>
                                            </tr>
                                            <tr>
                                                <td>Language: </td>
                                                <td>{{ book.language }}</td>
                                            </tr>
                                            {% if book.pages %}
                                            <tr>
                                                <td>Pages:</td>
                                                <td>{{ book.pages }}</td>
                                            </tr>
                                            {% endif %}
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div id="reviews" class="tab-pane fade">
                        {% if user.is_authenticated %}
                        <h5 class="mt-3">Add review</h5>
                        {% include 'reviews/partials/add_review.html' %}
                        {% else %}
                        <p>Please <a href="{% url 'account_login' %}" class="text-orange">Log In</a> to leave a review</p>
                        {% endif %}
                        <div class=" row review">
                            {% if reviews %}
                            <h5 class="my-2">Reviews:</h5>
                            {% for review in reviews %}
                            <div class="col-12 col-md-8">
                                <div class="card mb-3">
                                    <div class="card-body">
                                        <div class="user-info d-flex">
                                            <img src="{% static 'images/authors/default-author.png' %}" class="user-image"
                                                alt="default user image">
                                            <div class="user-rating">
                                                <h6 class="ms-2">{{ review.user }}</h6>
                                                <div class="rating ms-2">
                                                    {% for i in review.get_rating_range %}
                                                    <i class="fa-solid fa-star" style="color:#f0bc00"></i>
                                                    {% endfor %}
                                                </div>
                                            </div>
                                        </div>
                                        <small>{{ review.created }}</small>
                                        <hr>
                                        <p class="card-text">{{ review.review }}</p>
                                    </div>
                                    {% if request.user.userprofile == review.user or request.user.is_superuser %}
                                    <div class="review-actions d-flex">
                                        <div class="delete-review">
                                            <a href="{% url 'delete-review' review.id %}" class="btn btn-sm btn-danger mb-2 ms-2">Delete</a>
                                        </div>
                                        <div class="edit-review">
                                            <a href="{% url 'edit-review' review.id %}" class="btn btn-sm btn-orange mb-2 ms-2">Edit</a>
                                        </div>
                                    </div>
                                    {% endif %}
                                </div>
                            </div>
                            {% endfor %}
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock content %}